---
import Base from '../layouts/Base.astro';
import { getCollection, getEntry } from 'astro:content';

const allBlogPosts = await getCollection('blog');
const biography = await getEntry('biography', 'index');
const { Content } = await biography.render();
---

<Base title="Biography">
  <section class="my-xl">
    {<Content />}
  </section>
</Base>


