---
import Base from '../layouts/Base.astro';
import { getCollection, getEntry } from 'astro:content';

const allBlogPosts = await getCollection('blog');
const cv = await getEntry('cv', 'index');
const { Content } = await cv.render();
---

<Base title="C.V.">
  <section class="my-xl">
    {<Content />}
  </section>
</Base>


