---
import Base from '../layouts/Base.astro';
import { getCollection, getEntry } from 'astro:content';
const home = await getEntry('home', 'index');
const { Content } = await home.render();
---

<Base title="Home">
  <section class="intro-home my-xl">
    {<Content />}
  </section>

</Base>
