---
import '../styles/reset.css';
import '../styles/global.css';
import SidePanel from '../components/SidePanel.astro';
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shawn Yisiou Wu | { title }</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

  <!-- Matomo -->
  <script>
    var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.enlezlab.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
  </script>
  <!-- End Matomo Code -->
</head>
<body class="nav-open">
  <noscript>
    <!-- Matomo Image Tracker-->
    <img referrerpolicy="no-referrer-when-downgrade" src="https://matomo.enlezlab.com/matomo.php?idsite=2&amp;rec=1" style="border:0" alt="" />
    <!-- End Matomo -->
  </noscript>
  <SidePanel />
  <main class="content">
    <div class="container">
      <slot />
    </div>
  </main>
  <script src="/js/main.js" is:inline></script>
</body>
</html>


